[Desktop Entry]
Type=Application
Name=RetroDECK Collection Manager
Comment=Manage RetroDECK and ES-DE collections
Exec=RD-CM
Categories=Game;Utility;
Terminal=false
